body{
  background-image: url("../img/moon.png"), url("../img/sunset.png"), linear-gradient(to top, #ffbf75, #f8cbc7, #9696FF);
  background-position: left top, right bottom, left top;
  background-repeat: no-repeat, no-repeat, repeat;
  color: black;
  padding: 30px;
  font-size: 100%;
  text-align: center;
  height: auto;
}

h2{
  padding-top: 15px;
  font-family: 'Sansita Swashed';
  font-size: 120%;
  letter-spacing: 4px;
  text-transform: capitalize;
  color: #473485;
}

#results img{
  width:500px;
  height:400px;
}

#content{
  float: left;
  margin: 50px;
  padding: 10px;
  border: dashed 3px #c180ff;
  /* background-color: #d1cdff; */
  background-color: rgba(209, 205, 255, 0.7);
  width: 60%;
}

div#subject{
  font-style: italic;
  font-family: 'Tangerine';
  font-size: 35px;
  text-shadow: 3px 3px 3px gray;
}

div#challenge, div#problems{
  background-color: #e3ccff;
  background-color: rgba(227, 204, 255, 0.6);
  width: 100%;
  height: 130px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 0px;
  margin-top: 0px;
  box-shadow: 2px 2px 3px gray;
  transition: background-color 2s;
}

div#challenge:hover, div#problems:hover{
  background-color: #5463ff;
}

div#results{
  float: left;
  background-color: #e3ccff;
  width: 100%;
  height: 500px;
  font-size: 120%;
  box-shadow: 2px 2px 3px grey;
  animation-name: change;
  animation-duration: 5s;
}

@keyframes change{
  0% {background-color: #e3ccff;}
  25% {background-color: #00B4D8;}
  50% {background-color: #5463ff;}
  100% {background-color: #e3ccff;}
}

div .written{
  color: white;
  font-family: 'Caveat';
  font-size: 25px;
  margin: 0px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  column-count: 2;
}

nav{
  position: sticky;
  top: 0;
  /*background-color: #c7ffff;*/
  background-color: rgba(199, 255, 255, 0.5);
  border: double 10px #1da3c3;
  border-radius: 0 0 25px 0;
  text-align: left;
  font-family: 'Sansita Swashed';
}

#sidebar{
  display: inline-block;
  float: right;
  width: 30%;
  min-width: 300px;
  background-color: #c7ffff;
  border: double 10px #1da3c3;
  border-radius: 25px;
  margin-top: 50px;
  padding: 0px 5px 20px;
  font-family: 'Caveat';
  font-size: 25px;
}

div#floated{
  width: 30%;
  background-color: #e3ccff;
  float: left;
  margin: 20px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  height: 400px;
  transform: translate(100px, 0px);
}

div#center-horz{
  width: 30%;
  background-color: #e3ccff;
  float: left;
  clear: left;
  text-align: center;
  margin: 20px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  height: 400px;
  transform: translate(100px, 0px);
}

div#center-img{
  width: 30%;
  background-color: #e3ccff;
  float: right;
  clear: right;
  margin: -410px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  height: 400px;
  position: relative;
  transform: translate(-100px, 0px);
}

#center-img img{
  width:150px;
  height:200px;
  margin-left: auto;
  margin-right: auto;
  transition: width 2s, height 2s;
}

#center-img img:hover{
  width: 300px;
  height: 350px;
}

div#center-both{
  width: 30%;
  background-color: #e3ccff;
  float: right;
  clear: right;
  margin: 20px 5px 5px 5px;
  padding: 0px 5px 5px 5px;
  height: 400px;
  position: relative;
  transform: translate(-100px, 0px);
}

#center-both img{
  width:150px;
  height:200px;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(100%);
  transition: width 2s, height 2s;
}

#center-both img:hover{
  width: 300px;
  height: 350px;
}

#sidebarImg img{
  display: inline-block;
  float: right;
  width: 500px;
  height: 650px;
  object-fit: cover;
  margin-top: 50px;
  padding: 0px 5px 20px;
}

/* #image:hover img{
  width: 700px;
  height: 600px;
  max-width: 800px;
} */
